<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script type="text/javascript">
      var players = <%=model[:players].to_json %>
      var picks = <%=model[:picks].to_json %>
    </script>

  </head>
  <body>
  <h2><%="NFL Draft Predictions - #{model[:user]}" %></h2>
  <form method="post" action="/<%=model[:action] %>">
    <ul id="players">
      <li><div class="position header">Pick #</div><div class="player header">Player</div></li>
      <% for i in 1..11 do %>
      <li><div class="position"><%= i %></div><div><select name='<%="Pick#{i}" %>' data-bind="<%= model[:options_binding] % [i] %>"></select></div></li>
      <% end %>
     </ul>
  </form>
  <p>
    <input id="<%=model[:key] %>" type="button" value="Submit" onclick="savePicks(this.id)">&nbsp;<div class="message" id="message"></div>
  </p>
  </body>
  <script type="text/javascript" src="/js/openList.js"></script>
</html>